<head>
	<title>Guide</title>
  <style>
  .bottom-three {
     margin-bottom: 2cm;
  }
  body {
  background-color: #424242;
}
 h2 {color: white;}
 h1 {
  color: white;
 }
 </style>
	<center>
	<h2> What is the Answer to the Ultimate Question of Life, The Universe, and Everything? </h2></center>
  <!-- Just post answer here :) -->
</head>


<body>

<center>
<img src="{{url_for('static', filename='img/machine.jpg')}}">
<h1> {{flag}} </h1>


</body>
