<head>
<!-- John, you rock-->
	<title>Hail Hydra!</title>
	<center><h1> Welcome, agent John</h1>
	<h2> Log yourself in</h2></center>
</head>
<style>
  .bottom-three {
     margin-bottom: 2cm;
 	}
  body {
  background-color: #ffffff;
}
 </style>

<body>

<center>
<img src="{{url_for('static', filename='img/avatar.png')}}">

<h6>Do not try to guess the password. Invaders will suffer. </h6>
<p class="bottom-three"></p>
  <form action="/auth" method="post">
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
  </form>
</center>


</body>
